.creation-button {
  display: flex;
  height: auto;
  width: auto;
  margin-top: 30px;
  background-color: #f39733;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  cursor: pointer;
}

.create-UI {
  display: flex;
  position: fixed;
  margin-top: 10vh;
  padding-block: 1.5em;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 30px;
  width: 20vw;
  height: auto;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.UI-background {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.5s ease-out forwards;
  z-index: 9;
}

.back-button {
  cursor: pointer;
  align-self: flex-start;
  padding-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  color: gray;
}

.complete-button {
  display: flex;
  padding-inline: 1em;
  margin-top: 2em;
  border: 1px solid transparent;
  border-radius: 30px;
  border-color: gray;
  background-color: orange;
  color: black;
  cursor: pointer;
}

.complete-button h3 {
  margin: 0.3em;
  color: black;
  font-weight: 500;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.2;}
}

.select-widget {
  height: 50px;
  padding: 0 10px;
  align-self: center;
  width: 185px;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  border-color: gray;
  color: gray;
  font-size: 1rem;
  font-weight: 350;
}

.error-msg {
  font-weight: 400;
  color: salmon;
  margin: 0;
}