.room-widget {
  display: flex;
  justify-self: center;
  justify-content: flex-start;
  border-radius: 30px;
  border: 1px solid;
  border-color: gray;
  height: 20vh;
  width: 50vw;
  margin: 20px;
  cursor: pointer;
}

.room-widget-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.room-widget-info h2 {
  margin: 0;
  margin-bottom: 10px;
}

.room-widget-section {
  display: flex;
  height: 20vh;
  width: 100%;
  padding-inline: 30px;
  align-items: center;
}