.container {
  position: relative;
  /* flex-direction: column; */
  display: inline-flex;
  /* width: 180px; */
}

.input {
  padding: 0 10px;
  height: 50px;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  border-color: gray;
  transition: border 0.2s ease-in-out;
}

.input:focus {
  border-color: black;
  border: 1.5px solid;
}

.label {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  
  left: 12px; 
  top: 50%;
  transform: translateY(-50%);
  
  padding: 0 4px;
  background-color: white;
  color: gray;

  transition: all 0.2s ease-in-out;
}

.input:focus + label {
  font-size: 0.8rem;
  top: 0%;
  color: black;
}

.input:not([value=""]) + label {
  font-size: 0.8rem;
  top: 0%;
}